@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url(android/Android.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Uknow';
    src: url(uknowjack/UKNOWJACK.ttf) format('truetype');
    font-weight: normal;
}



:root{
--color1:  #53ac59;
--color2:  #3b8952;
--color3:  #0f684b;
--color4:  #03484c;
--color5:  #1c232e; 
}

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}



body{
    background-color: var(--color1);
    background-image: linear-gradient(to bottom, black, #020d1f, #020d1f, var(--color4));
    display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
}

header{
    background-color: var(--color5);
    background-image: url(terra2.jpg);
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    text-wrap: nowrap;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.788);
    color: white;
    box-shadow: 0px 15px 20px rgb(0, 0, 0);
}

h1{
    font-family: 'Uknow';
    padding-top: 2vh;
    color: white;
    text-shadow: 1px 1px 1px black;
}



header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 0px;
}

nav{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

a{
    text-decoration: none;
}

nav > a{
    text-decoration: none;
    color: white;
    padding-left: 4vw;
    text-wrap: wrap;
    font-family: 'Uknow';
}

h2{
    font-family: 'Android';
    padding-top: 3vh;
    padding-bottom: 3vh;
}

h3{
    margin-bottom: 2vh;
    margin-top: 2vh;
    display: inline-block;
    padding: 1vh;
    background-image: linear-gradient(-45deg, #ffffff00, #03484c1a , #03484ca6 );
}

main{
    background-color: rgb(255, 255, 255);
    padding: 2vh;
    margin-left: 50vh;
    margin-right: 50vh;
    border-radius: 1vh;
    line-break: strict;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.281);

}

p{
    text-indent: 3vh;
    line-height: 1.5;
}

#extra{
    padding: 3vh;
    margin: 1vh;
    border-radius: 2vh;
    background-color: #1a202b;
    color: white;
}

img{
    border-radius: 10px;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#hamb{
    display: none;
}



#video{
    background-color: #1c232e;
    display: block;
    margin: 2vh -2vh 2vh -2vh;
    padding: 1vh 5vh 1vh 5vh;
    }


iframe{
    width: 100%;
    height: 34vh;
}

ul{
    columns: 2;
    line-height: 1.6;
    padding-left: 5vh;
}

footer{
    background-color: rgb(40, 47, 80);
    color: white;
    background-position: bottom;
    text-align: center;
}

footer > p > strong > a{
    color: white;
    text-decoration: none;
}


@media screen and (min-width: 320px) and (max-width: 750px){

    html{
         height: 100%;
         background-color: white;
    }


    main{
        margin-left: 0vh;
        margin-right: 0vh;
        flex-grow: 1;
        background-color: white;        
    }
    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        background-color: white;
    }

    img{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        src: url(imagens/irina-blok-pq.jpg)
    }

    #video{
        
        padding: 0px;
        margin: 0px;
    }

    iframe{
    width: 100%;
    height: 40vh;
}

    #hamb{
        display: block;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.200), rgba(0, 0, 255, 0.164),rgba(6, 77, 6, 0.295));
        margin-left: 25%;
        margin-right: 25%;
        cursor: pointer;
        padding: 10px;
    }

    #itens{
        display: none;
    }


}

@media screen and (min-width: 751px) and (max-width: 1000px){

    main{
        margin-left: 10vh;
        margin-right: 10vh;
    }

    img{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    img#bugdroid{
        width: 60%;
        margin-left: 17%;
        margin-right: 17%;
    }
    

}

@media screen and (min-width: 1001px) and (max-width: 1400px){

    main{
        margin-left: 25vh;
        margin-right: 25vh;
    }

    img#bugdroid{
        width: 55%;
        margin-left: 20%;
        margin-right: 20%;
    }

    iframe{
    width: 100%;
    height: 40vh;
}
}

@media screen and (min-width: 1401px) and (max-width: 1700px){

    main{
        margin-left: 35vh;
        margin-right: 35vh;
    }

    img#bugdroid{
        width: 55%;
        margin-left: 20%;
        margin-right: 20%;
    }

    iframe{
    width: 100%;
    height: 50vh;
}
}

@media screen and (min-width: 1701px) and (max-width: 6000px){

    main{
        margin-left: 50vh;
        margin-right: 50vh;
    }

    img#bugdroid{
        width: 45%;
        margin-left: 27%;
        margin-right: 27%;
    }

    iframe{
    width: 100%;
    height: 60vh;
}
}
